# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Uploads (VERY IMPORTANT)
uploads/
outputs/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Terraform state
*.tfstate
*.tfstate.backup
.terraform/